<!-- views/partials/player-fieldset.hbs -->
<fieldset>
    <input hidden name="playerId" value="{{#if playerId}}{{playerId}}{{else}}{{comment.playerId}}{{/if}}">
    <div class="form-group">
        <label for="player-battletag">BattleTag *</label>
        <input class="form-control" id="player-battletag" type="text" name="battletag" placeholder="Example#12345" value="{{comment.battletag}}" required>
    </div>
    <div class="form-group">
        <label for="player-content">Comment *</label><br>
        <textarea class="form-control" id="player-content" name="content" rows="3" style="resize: none" required>{{comment.content}}</textarea>
    </div>
</fieldset>
