<!-- views/partials/player-fieldset.hbs -->
<fieldset>
    <div class="form-group">
        <label for="player-battletag">BattleTag *</label>
        <input class="form-control"
               id="player-battletag"
               type="text"
               name="battletag"
               placeholder="Example#12345"
               pattern="[a-zA-Z]+#\d{5}"
               value="{{player.battletag}}"
               required>
    </div>
    <div class="form-group">
        <label for="player-rank">Rank *</label>
        <input class="form-control"
               id="player-rank"
               type="number"
               name="rank"
               min="1"
               max="5000"
               placeholder="2500"
               value="{{player.rank}}"
               required>
    </div>
    <div class="form-group">
        <label for="player-description">Description</label><br>
        <textarea class="form-control" id="player-description" name="description" rows="3">{{player.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="player-role">Role *</label><br>
        <select class="form-control" id="player-role" name="role" required>
            {{#each roles}}
            <option {{#eq this player.role}}selected {{/eq}}value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="player-iconURL">Icon URL</label><br>
        <input class="form-control" id="player-iconURL" type="text" name="iconURL" value="{{player.iconURL}}">
    </div>
</fieldset>
