<!-- views/partials/player-fieldset.hbs -->
<fieldset>
    <div class="form-group">
        <label for="player-battletag">BattleTag *</label>
        <input class="form-control" id="player-battletag" type="text" name="battletag" placeholder="Example#12345" pattern="[\u0041-\u005a\u0061-\u007a\u0041-\u005a\u0061-\u007a\u00c0-\u00d6\u00d8-\u00f6\u00f8-\u017e\u0180-\u0188\u0190-\u0198\u01c0-\u0217\uac00-\ud7af3\u0400-\u04ff\u0500-\u052f\u3400-\u4dbf\u4e00-\u9fff\uf900-\ufaff\u3000-\u30FF\uFF00-\uFFEF\u4E00-\u9FAF\u0E00-\u0E7F][\u0030-\u0039\u0041-\u005a\u0061-\u007a\u0041-\u005a\u0061-\u007a\u00c0-\u00d6\u00d8-\u00f6\u00f8-\u017e\u0180-\u0188\u0190-\u0198\u01c0-\u0217\uac00-\ud7af3\u0400-\u04ff\u0500-\u052f\u3400-\u4dbf\u4e00-\u 900-\ufaff\u3000-\u30FF\uFF00-\uFFEF\u4E00-\u9FAF\u0E00-\u0E7F]{2,11}#\d{4,5}" title="Valid battletag" value="{{player.battletag}}" required>
    </div>
    <div class="form-group">
        <label for="player-rank">Rank *</label>
        <input class="form-control" id="player-rank" type="number" name="rank" min="1" max="5000" placeholder="2500" value="{{player.rank}}" required>
    </div>
    <div class="form-group">
        <label for="player-description">Description</label><br>
        <textarea class="form-control" id="player-description" name="description" rows="3" style="resize: none">{{player.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="player-role">Role *</label><br>
        <select class="form-control" id="player-role" name="role" required>
            {{#each roles}}
            <option {{#eq this player.role}}selected {{/eq}}value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="player-iconURL">Icon URL</label><br>
        <input class="form-control" id="player-iconURL" type="text" name="iconURL" value="{{player.iconURL}}">
    </div>
</fieldset>
