<!-- views/partials/player-card.hbs -->
<div class="card h-100">
    <a href="/teams/{{team._id}}">
        <div class="card-img-top icon" style="background-image: url({{#if team.iconURL}}{{team.iconURL}}{{else}}https://d1u1mce87gyfbn.cloudfront.net/hero/mccree/icon-portrait.png{{/if}})"></div>
    </a>
    <div class="card-body">
        <a href="/players/{{team._id}}">
            <h5 class="card-title">{{team.name}}</h5>
        </a>
        <h6 class="card-subtitle text-muted">{{team.players.length}} players</h6>
        <p class="card-text">{{ellipsis team.description 50}}</p>
    </div>
</div>
