<!-- views/players-show.hbs -->
<div class="row">
    <div class="col-6">
        <a href="/players/{{player._id}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
    </div>
    <div class="col-6 text-right">
        <form action="/players/{{player._id}}?_method=DELETE" method="POST">
            <button class="btn btn-warning" type="submit"><i class="fas fa-trash"></i> Delete</button>
        </form>
    </div>
    <div class="col-12">
        {{> player-card }}
    </div>
    <div class="col-6">
        <a href="/players/{{player._id}}/comments"><h2>Comments</h2></a>
    </div>
    <div class="col-6 text-right my-auto">
        <!-- <a class="btn btn-primary" href="/players/{{player._id}}/comments/new">New</a> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">New Comment</button>
    </div>
    <div class="col-12">
        <div class="row" id="comments">
            {{#each comments}}
            <div class="col-4">
                <a class="btn btn-warning deleteComment" data-comment-id="{{this._id}}"><i class="fas fa-trash"></i></a>
                {{> comment-card comment=this }}
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    {{> comment-fieldset playerId=player._id }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="newComment">Comment</button>
            </div>
        </div>
    </div>
</div>
