<!-- views/players-show.hbs -->
<div class="jumbotron jumbotron">
    <div class="row align-items-center">
        <div class="col-3 text-left text-sm-right">
            <a href="/players/{{player._id}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i><span class="d-none d-sm-inline"> Edit</span></a>
        </div>
        <div class="col-6 text-center">
            <h3 class="d-none d-sm-inline">{{player.battletag}}</h3>
            <h4 class="d-inline d-sm-none">{{player.battletag}}</h4>
        </div>
        <div class="col-3 text-right text-sm-left">
            <form action="/players/{{player._id}}?_method=DELETE" method="POST">
                <button class="btn btn-warning" type="submit"><i class="fas fa-trash"></i><span class="d-none d-sm-inline"> Delete</span></button>
            </form>
        </div>
        <div class="col-6 offset-3 text-center">
            <img class="w-75 rounded-circle" src="{{#if player.iconURL}}{{player.iconURL}}{{else}}https://d1u1mce87gyfbn.cloudfront.net/hero/mccree/icon-portrait.png{{/if}}">
        </div>
        <div class="col-6 offset-3 text-center">
            <h4 class="d-none d-sm-inline">{{player.role}} - {{player.rank}}</h4>
            <h5 class="d-inline d-sm-none">{{player.role}} - {{player.rank}}</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/players/{{player._id}}/comments"><h2>Comments</h2></a>
        </div>
        <div class="col-6 text-right my-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">Comment</button>
        </div>
        <div class="col-12">
            <div class="row" id="comments">
                {{#each comments}}
                <div class="col-4">
                    <a class="btn btn-warning deleteComment" data-comment-id="{{this._id}}"><i class="fas fa-trash"></i></a>
                    {{> comment-card comment=this }}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{> comment-modal playerId=player._id }}
