<!-- views/players-show.hbs -->
<div class="jumbotron jumbotron">
    <div class="row align-items-center">
        <div class="col-3 text-left text-sm-right pb-3">
            <a href="/teams/{{team._id}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i><span class="d-none d-sm-inline"> Edit</span></a>
        </div>
        <div class="col-6 text-center pb-3">
            <h3 class="d-none d-sm-inline">{{team.name}}</h3>
            <h4 class="d-inline d-sm-none">{{team.name}}</h4>
        </div>
        <div class="col-3 text-right text-sm-left pb-3">
            <form action="/teams/{{team._id}}?_method=DELETE" method="POST">
                <button class="btn btn-warning" type="submit"><span class="d-none d-sm-inline">Delete </span><i class="fas fa-trash"></i></button>
            </form>
        </div>
        <div class="col-6 offset-3 text-center pb-3">
            <img class="w-75 rounded-circle" src="{{#if team.iconURL}}{{team.iconURL}}{{else}}https://d1u1mce87gyfbn.cloudfront.net/hero/mccree/icon-portrait.png{{/if}}">
        </div>
        <div class="col-6 offset-3 text-center pb-3">
            <h4 class="d-none d-sm-inline">{{team.players.length}} players</h4>
            <h5 class="d-inline d-sm-none">{{team.players.length}} players</h5>
        </div>
        <div class="col-6 offset-3 text-center">
            <p>{{team.description}}</p>
        </div>
    </div>
</div>
